<h1 *ngIf="titulo">{{titulo}}</h1>
<div class="row">
  <div class="col-md-12">
    <form [formGroup]="tipoUsuario" (ngSubmit)="guardarDatos()">
      <div>
        <label>Id Tipo Usuario</label>
        <input type="text" formControlName="idTipoUsuario" class="form-control" readonly />
      </div>
      <div>
        <label>Nombre</label>
        <input type="text" formControlName="nombre" class="form-control" />
        <div *ngIf="tipoUsuario.controls['nombre'].errors?.required" style="color:red">
          El nombre es obligatorio
        </div>
        <div *ngIf="tipoUsuario.controls['nombre'].errors?.maxLength" style="color:red">
          Supero el maximo de caracteres
        </div>
      </div>
      <div>
        <label>Descripción</label>
        <input type="text" formControlName="descripcion" class="form-control" />
        <div *ngIf="tipoUsuario.controls['descripcion'].errors?.required" style="color:red">
          La descripción es obligatorio
        </div>
        <div *ngIf="tipoUsuario.controls['descripcion'].errors?.maxLength" style="color:red">
          Supero el maximo de caracteres
        </div>
      </div>
      <div>
        <label>Seleccione las páginas</label>
        <div *ngFor="let pagina of paginas">
          <input class="check" [name]="pagina.idPagina" type="checkbox" />
          <label>{{pagina.mensaje}}</label>
        </div>
      </div>
      <div>
        <br />
        <input [disabled]="!tipoUsuario.valid" type="submit" value="Guardar" class="btn btn-primary" />
        &nbsp;
        <button class="btn btn-danger" [routerLink]="['/mant-tipoUsuario']">Regresar</button>
      </div>
    </form>
  </div>
</div>
